html {
	height: 100vh;
}

 body {
            height: 100%;
            margin: 0;
            padding: 0
        }

div {
	background-color: black ;
	color: white ;
	font-family: Brush Script MT;
	border: 6px;
	border-color: black;
	font-size: 35px;
}
h1 {
	text-align: center;
	color: white;
	background-color: black;
	font-family: Brush Script MT;}
button{
	color: black;
	text-align:center;
	font-size: 35px;
	margin-top:20px;
	margin-bottom:20px;
	padding: 15px;
	border-radius: 50px;
	 }

p{
	text-align: center;
}
#Start_Screen {
	text-align: center;
	background-image: url(background.jpg);
	background-size: cover;
	width: 100%;
	height:100%
	max-height:100%;
	background-repeat: no-repeat;
	margin: auto;
    width: 100%;
    height: 100%;

	}
